{{#push "title"}}
<title>[Adillions - Cashout request]</title>
{{/push}}
{{#push "styles"}}
  {{> 'mail_style'}}
  <style type="text/css">
  </style>
{{/push}}

<table class="row">
  <tr>
    <td class="wrapper last center" align="center">
      <center>
      <table class="eight columns">
        <tr>
          <th>Informations</th>
          <th>Valeurs</th>
        </tr>
      </table>

      <table class="eight columns">
        <tr>
          <td>
            <hr />
          </td>
          <td>
            <hr />
          </td>
        </tr>
      </table>

      <table class="eight columns">
        <tr>
          <td>date</td>
          <td>{{date}}</td>
        </tr>
         <tr>
          <td>uid</td>
          <td>{{user}}</td>
        </tr>
         <tr>
          <td>email</td>
          <td>{{email}}</td>
        </tr>
         <tr>
          <td>firstName</td>
          <td>{{firstName}}</td>
        </tr>
         <tr>
          <td>lastName</td>
          <td>{{lastName}}</td>
        </tr>
         <tr>
          <td>country</td>
          <td>{{country}}</td>
        </tr>
         <tr>
          <td>lang</td>
          <td>{{lang}}</td>
        </tr>
         <tr>
          <td>amount</td>
          <td>{{amount}}</td>
        </tr>
         <tr>
          <td>currency</td>
          <td>{{currency}}</td>
        </tr>
        <tr>
          <td>tickets</td>
          <td>{{tickets}}</td>
        </tr>
      </table>
      </center>
    </td>
  </tr>
</table>
