{{#push "title"}}
<title>[Adillions - Cashout request]</title>
{{/push}}
{{#push "styles"}}
  {{> 'mail_style'}}
  <style type="text/css">
  </style>
{{/push}}
(test new cashout)
date :  {{{date}}}
user :  {{{user}}}
email :  {{{email}}}
firstName :  {{{firstName}}}
lastName :  {{{lastName}}}
birthdate :  {{{birthdate}}}
country :  {{{country}}}
lang :  {{{lang}}}
amount :  {{{amount}}}
currency :  {{{currency}}}
tickets :  {{{tickets}}}