<h1>{{{i18n 'mail.registration.hi' name}}}</h1>

<p>{{{i18n 'mail.registration.title'}}}</p>

<p>{{{i18n 'mail.registration.desc' appIosUrl appAndroidUrl}}}</p>

<p>{{{i18n 'mail.registration.step.desc'}}}</p>

<ul>
  <li>{{{i18n 'mail.registration.step.ticket'}}}</li>
  <li>{{{i18n 'mail.registration.step.theme'}}}</li>
  <li>{{{i18n 'mail.registration.step.youtube'}}}</li>
  <li>{{{i18n 'mail.registration.step.prize'}}}</li>
</ul>

<p>{{{i18n 'mail.registration.invite'}}}</p>

<p>{{{i18n 'mail.registration.luck'}}}</p>

<p>{{{i18n 'mail.registration.team'}}}</p>
