<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="{{language.code}}"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8" lang="{{language.code}}"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie11 lt-ie10 lt-ie9" lang="{{language.code}}"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie11 lt-ie10" lang="{{language.code}}"> <![endif]-->
<!--[if IE 10]><html class="no-js lt-ie11" lang="{{language.code}}"> <![endif]-->
<!--[if gt IE 10]><!--><html class="no-js" lang="{{language.code}}"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta content="{{language.code}}" http-equiv="Content-Language">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{#unless robots}}
    <meta name="robots" content="follow,index">
    {{else}}
    <meta name="robots" content="{{robots}}">
    {{/unless}}

    {{#if usePopTitle}}
     {{#pop "title"}}{{/pop}}
    {{else}}
    <title>{{#if title}}{{title}}{{else}}{{i18n 'adillions_meta_title'}}{{/if}}</title>
    {{/if}}

    {{#pop "meta"}}{{/pop}}
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
    {{#pop "styles"}}{{/pop}}

    {{> 'analytics'}}
  </head>
  <body>
    {{> 'header_private'}}
    <main id="content" class="page-content fluid-container">
    {{{body}}}
    </main>
    {{> 'footer_private'}}
    <!--TEMPLATES-->
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/i18next/i18next.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <!--SCRIPTS END-->
    {{#pop "scripts"}}{{/pop}}
  </body>
</html>
