<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="{{locale}}"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8" lang="{{locale}}"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie11 lt-ie10 lt-ie9" lang="{{locale}}"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie11 lt-ie10" lang="{{locale}}"> <![endif]-->
<!--[if IE 10]><html class="no-js lt-ie11" lang="{{locale}}"> <![endif]-->
<!--[if gt IE 10]><!--><html class="no-js" lang="{{locale}}"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta content="{{locale}}" http-equiv="Content-Language">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  </head>
  <body>
    <main class="site-content pbxl">
      <div class='container'>
      {{> 'flash'}}
      {{{body}}}
      </div>
    </main>
    <script src="{{statics '/scripts/main.js'}}"></script>
    <script>require('app');</script>
    {{#pop "scripts"}}{{/pop}}
  </body>
</html>
