{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'game_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'game_meta_desc'}}">
{{/push}}

{{#if featureEnabled}}

  <div class="webapp-container"></div>

  {{#push "scripts"}}
    <script src="{{statics '/scripts/game.js'}}"></script>
    <script>require('game');</script>
  {{/push}}

{{else}}
  <h1 class="text-center mtxl mbxl">{{i18n 'coming_soon'}}</h1>

  {{#if user}}
    <h3 class="tac">
      {{i18n 'hello'}}
      {{#if user.userName}}
        {{user.userName}}
      {{else}}
       {{user.firstName}}
      {{/if}}
      !
    </h3>
  {{/if}}

  <p class="lead text-center">{{i18n 'coming_soon_game_desc'}}</p>
  <p class="lead text-center">{{i18n 'coming_soon_game_desc2'}}</p>
  <p class="lead text-center">{{i18n 'coming_soon_game_desc3'}}</p>

  <ul class="list-unstyled row mtxl">
    <li class="col-xs-12 col-sm-3 col-sm-offset-3  mbm text-center">
      <a href="{{extUrl 'app_ios'}}" class="btn btn-lead btn-lg">
        app store
      </a>
    </li>
    <li class="col-xs-12 col-sm-3 mbm text-center">
      <a href="{{extUrl 'app_android'}}" class="btn btn-lead btn-lg">
        google play
      </a>
    </li>
  </ul>

  {{#if user}}
    <ul class="list-unstyled row mtxl">
      <li class="text-center">
        <a href="{{route 'userSettings.account' lang=locale}}" class="btn btn-default">
          {{i18n 'game_view_account'}}
        </a>
      </li>
    </ul>
  {{/if}}

{{/if}}
