{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'results_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'results_meta_desc'}}">
{{/push}}
{{#push "scripts"}}
<script src="{{statics '/scripts/results.js'}}"></script>
<script>require('results');</script>
{{/push}}

{{#if lotteries}}
<div class="loteries">
  <div class="row">
    <div class="col-xs-3 col-sm-2 lotery-timeline prn pln">
    </div>
  </div>
  {{#each lotteries}}
  <section class="lotery pbxl">

    <div class="clearfix">
      <div class="col-xs-3 col-sm-2 prn pln text-center">
        <h2 class="lotery-date man">
          <span class="day">{{date_day}}</span>
          <span class="month">{{date_month}}</span>
        </h2>
      </div>
      <div class="col-xs-9 col-sm-10">
        <span class="lotery-date-year">{{date_year}}</span>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-offset-3 col-xs-9 col-sm-offset-2 col-sm-10">
        <h3>{{theme.title}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-3 col-xs-9 col-sm-offset-2 col-sm-10">

        <div class="well dispib">
          <ul class="list-inline lotery-list drawing-balls">
          {{#each result}}
            <li class="ball">{{this}}</li>
          {{/each}}
          {{#if lucky_ball}}
            <li class="js-lucky-ball-tooltip ball lucky-ball" data-toggle="tooltip" data-placement="top" data-original-title="{{lucky_ball.name}} {{lucky_ball.name2}}"><img src="{{lucky_ball.image}}" alt="{{lucky_ball.name}} {{lucky_ball.name2}}" width="60"/></li>
          {{/if}}
          </ul>
        </div>

        <div class="clearfix icons-section">
          <div class="dispib mrl text-center">
            <div class="icon glyphicon glyphicon-group mtn">
            </div>
            <h3>{{#mergeContexts parent=..}}{{i18n 'winners'}}{{/mergeContexts}}</h3>
            <p class="desc">{{nbWinners}}</p>
          </div>
          <div class="dispib mrl text-center">
            <div class="icon glyphicon glyphicon-money mtn">
            </div>
            <h3>{{#mergeContexts parent=..}}{{i18n 'prizes'}}{{/mergeContexts}}</h3>
            <p class="desc">{{finalPrice}} €</p>
          </div>
          <div class="dispib text-center">
            <div class="icon glyphicon glyphicon-heart mtn">
            </div>
            <h3>{{#mergeContexts parent=..}}{{i18n 'charities'}}{{/mergeContexts}}</h3>
            <p class="desc">{{charity}} €</p>
          </div>
        </div>

      </div>
    </div>

  </section>
  {{/each}}

</div>

<div class="row mtxl">
  <div class="col-xs-offset-3 col-xs-9 col-sm-offset-2 col-sm-10 clearfix">

    {{#set 'prev'}}{{i18n 'ui_prev'}}{{/set}}
    <ul class="pager pager-lg pull-left mrm">
      <li>{{#paginationBtn type='prev' total=paginationTotal nbPerPage=paginationOffset baseUrl=paginationBaseUrl currentPage=paginationCurrentPage title=prev}}<span class="glyphicon glyphicon-chevron-left" title="{{i18n 'ui_prev'}}"></span>{{/paginationBtn}}</li>
    </ul>

    {{{pagination htmlClass='pagination-lg pull-left mrm' total=paginationTotal nbPerPage=paginationOffset baseUrl=paginationBaseUrl currentPage=paginationCurrentPage}}}

    {{#set 'next'}}{{i18n 'ui_next'}}{{/set}}
    <ul class="pager pager-lg pull-left">
      <li>{{#paginationBtn type='next' total=paginationTotal nbPerPage=paginationOffset baseUrl=paginationBaseUrl currentPage=paginationCurrentPage title=next}}<span class="glyphicon glyphicon-chevron-right"></span>{{/paginationBtn}}</li>
    </ul>

  </div>
</div>

{{else}}
  <p class="lead">
    {{#mergeContexts parent=..}}{{i18n 'results_empty'}}{{/mergeContexts}}
  </p>
  <p><a href="{{route 'game.results' lang=locale}}" class="btn btn-default">{{#mergeContexts parent=..}}{{i18n 'results_goback'}}{{/mergeContexts}}</a></p>
{{/if}}

