{{#push "meta"}}
  <meta name="description" content="{{i18n 'adillions_meta_desc'}}">
  {{#if canonicalUrl}}<link rel="canonical" href="{{canonicalUrl}}" />{{/if}}
  {{#each alternateUrls}}
    <link rel="alternate" href="{{url}}" hreflang="{{code}}" />
  {{/each}}
{{/push}}

{{#push "styles"}}
{{/push}}

{{#push "scripts"}}
{{!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false&v={{api.google.version}}&key={{api.google.key}}&language={{locale}}"></script> --}}
<script src="{{statics '/scripts/landing.js'}}"></script>
<script>require('landing');</script>
<script>
function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?key={{api.google.key}}&v={{api.google.version}}&language={{locale}}&' +
      'callback=initializeMap';
  document.body.appendChild(script);
};
function initializeMap () {
  require('landing/global')['default']();
};
window.onload = loadScript;
</script>
{{/push}}


{{!-- section: hero--}}
<section class="landing-section landing-hero">
  <h1 class="text-center mtn mbxl">{{i18n 'landing_title'}}</h1>
  {{#if nextDrawing}}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p class="text-center highlight highlight-theme">
          <span class="title">{{i18n 'current_theme'}}</span>
          <strong class="text">{{nextDrawing.theme.title}}</strong>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p class="text-center highlight highlight-prize">
          <span class="title">{{i18n 'fund_prize'}}</span>
          <strong class="text">{{nextDrawing.prize}} €</strong>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p class="text-center highlight highlight-drawing" id="js-highlight-drawing"
        data-timestamp="{{nextDrawing.timestamp}}"
        data-day="{{i18n 'ui_day'}}"
        data-days="{{i18n 'ui_days'}}"
        >
          <span class="title">{{i18n 'next_drawing'}}</span>
          <strong class="text"></strong>
        </p>
      </div>
    </div>
    <p class="text-center">
      <a href="{{route 'game.index' lang=locale}}" class="btn btn-lead btn-lg play">
        {{{i18n 'play_for_free'}}}
      </a>
    </p>
    <div class="lucky-balls" id="js-lucky-balls">
      <h3 class="text-center">{{i18n 'the_lucky_balls'}}</h3>
      <img src="/images/landing/ipad.png" class="img-responsive center-block" />
      <ul class="list-inline text-center">
      {{#each nextDrawing.theme.balls}}
        <li class="lucky-ball" data-toggle="tooltip" data-placement="top" title="{{name}} {{name2}}">
          <img src="{{image}}" class="img-responsive center-block" alt="lucky ball {{name}}"/>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
  {{/if}}
</section>

{{!-- section: How it Works --}}
<section class="landing-section landing-howitworks">
  <div class="container">
    <h2 class="text-center">{{i18n 'landing_howitworks'}}</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center watch-ad">
        <div class="icon first">
          <div class="center-block main-howitworks-watchad"></div>
        </div>
        <h3><small class="hidden">1.</small> {{i18n 'landing_watchad'}}</h3>
        <p class="desc">{{{i18n 'landing_watchad_desc'}}}</p>
        <p>
          <a href="{{route 'about.winwinwin' lang=locale}}" class="see-more">
            {{i18n 'landing_watchad_link'}}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center get-ticket">
        <div class="icon">
          <div class="center-block main-howitworks-getticket"></div>
        </div>
        <h3><small class="hidden">2.</small> {{i18n 'landing_getticket'}}</h3>
        <p class="desc">{{{i18n 'landing_getticket_desc'}}}</p>
        <p>
          <a href="{{route 'about.rules' lang=locale}}" class="see-more">
            {{i18n 'landing_getticket_link'}}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center win-prize">
        <div class="icon last">
          <div class="center-block main-howitworks-winprize"></div>
        </div>
        <h3><small class="hidden">3.</small> {{i18n 'landing_winprize'}}</h3>
        <p class="desc">{{{i18n 'landing_winprize_desc'}}}</p>
        <p>
          <a href="{{route 'game.results' lang=locale}}" class="see-more">
            {{i18n 'landing_winprize_link'}}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </p>
      </div>
    </div>

  </div>
</section>

{{!-- section: Platforms --}}
<section class="landing-section landing-platforms">
  <div class="container">
    <h2 class="text-center">{{i18n 'landing_platforms_title'}}</h2>
    <p class="desc text-center">{{i18n 'landing_platforms_desc'}}</p>
    {{!-- Platforms devices --}}
    <div class="devices mtxl mbxl">
      <div class="device features-sprite features-macbookair"
      data--50-top="left:100%;margin-left:-446px;" data--100-bottom="left:70%;margin-left:-446px;" data-anchor-target=".landing-platforms"></div>
      <div class="device features-sprite features-browser"
      data--50-top="left:80%;margin-left:-255px;" data--100-bottom="left:65%;margin-left:-255px;" data-anchor-target=".landing-platforms"></div>
      <div class="device features-sprite features-android-tablet"
      data--50-top="left:33%;" data--100-bottom="left:30%;" data-anchor-target=".landing-platforms"></div>
      <div class="device features-sprite features-apple-tablet"
      data--50-top="left:3%;" data--100-bottom="left:35%;" data-anchor-target=".landing-platforms"></div>
      <div class="device features-sprite features-android-phone"
      data--50-top="left:30%;" data--100-bottom="left:30%;" data-anchor-target=".landing-platforms"></div>
      <div class="device features-sprite features-apple-phone"
      data--50-top="left:0;" data--100-bottom="left:25%;" data-anchor-target=".landing-platforms"></div>
    </div>
    {{!-- Platforms links --}}
    <ul class="list-unstyled row">
      <li class="col-xs-12 col-sm-3 col-md-3 mbm">
        <a href="{{extUrl 'app_ios'}}" class="btn btn-primary btn-lg btn-block">
          app store
        </a>
      </li>
      <li class="col-xs-12 col-sm-3 col-md-3 mbm">
        <a href="{{extUrl 'app_android'}}" class="btn btn-primary btn-lg btn-block">
          google play
        </a>
      </li>
      <li class="col-xs-12 col-sm-3 col-md-3 mbm">
        <a href="{{extUrl 'app_facebook'}}" class="btn btn-primary btn-lg btn-block">
          facebook
        </a>
      </li>
      <li class="col-xs-12 col-sm-3 col-md-3 mbm">
        <a href="{{route 'game.index' lang=locale}}" class="btn btn-lead btn-lg btn-block">
          {{{i18n 'play_for_free'}}}
        </a>
      </li>
    </ul>
  </div>
</section>

{{!-- section: Responsible --}}
<section class="landing-section landing-responsible">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 mbm responsible-bg-wrap">
        <div class="responsible-bg visible-md visible-lg" data--0-top="background-position:-20% 90%;" data--200-bottom="background-position:-20% 0%;"></div>
        <div class="responsible-bg visible-sm" data--0-top="background-position:-200% 90%;" data--100-bottom="background-position:-200% 0%;"></div>
        <div class="responsible-bg visible-xs" data-top="background-position:50% 80%;" data-bottom="background-position:50% 20%;"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 mbm">
        <h2>{{i18n 'landing_responsible_title'}}</h2>
        <p class="desc">{{{i18n 'landing_responsible_desc'}}}</p>
        {{#if totalCharity}}
        <p class="prize mbn mtxl">
          {{#each totalCharity}}
            {{#if comma}}
              <span class="prize-comma">{{value}}</span>
            {{/if}}
            {{#if currency}}
              <span class="prize-currenry">{{value}}</span>
            {{/if}}
            {{#if number}}
                <span class="prize-item">{{value}}</span>
            {{/if}}
          {{/each}}
          <span class="prize-currenry">€</span>
        </p>
        {{/if}}
      </div>
    </div>
  </div>
</section>

{{!-- section: global --}}
<section class="landing-section landing-global">
  <div class="container">
    <h2 class="text-center">{{i18n 'landing_global_title'}}</h2>
    <p class="desc text-center">{{i18n 'landing_global_desc'}}</p>
    {{#if lastWinners}}
    <ul id="js-global-players" class="global-players list-inline row mtxl">
      {{#each lastWinners}}
      <li class="global-player col-sm-4 col-xs-12" data-country="{{country}}" data-title="{{firstname}} {{truncate lastname 1}}">
        <div class="media">
          <span class="pull-left avatar" href="#">
            <img class="media-object" src="/images/avatar/avatar-s-60x60.png" width="60">
          </span>
          <div class="media-body text-left">
            <p class="mtxs mbxs">
            {{firstname}} {{truncate lastname 1}}
            {{#if country}}
              ({{country}})
            {{/if}}
            {{#mergeContexts parent=..}}
              {{i18n 'won'}}
            {{/mergeContexts}}
            {{prize}} €
            </p>
            <div class="badge-wrap dispib" data-toggle="tooltip" data-placement="bottom" title="{{charityStatusName}}">
              {{#each charityStatus}}
              <span class="mlxs badge-charity {{#if active}}badge-charity-empty{{/if}}"></span>
              {{/each}}
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{/if}}
    <div id="js-global-map" class="global-map">
    </div>
     <p class="text-center">
      <a href="{{route 'game.results' lang=locale}}" class="btn btn-primary btn-lg">
        {{i18n 'see_previous_results'}}
      </a>
    </p>
  </div>
</section>

{{!-- section: advertisers --}}
<section class="landing-section landing-advertisers">
  <div class="container">
    <h2 class="text-center">{{i18n 'landing_advertisers_title'}}</h2>

    <div class="row mbl">
      <div class="col-xs-12 col-sm-4 text-center watch-ad">
        <div class="icon">
          <div class="center-block main-sprite main-advertisers-boost"></div>
        </div>
        <h3>{{{i18n 'landing_advertisers_boost'}}}</h3>
        <p class="desc">{{{i18n 'landing_advertisers_boost_desc'}}}</p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center get-ticket">
        <div class="icon">
          <div class="center-block main-sprite main-advertisers-multiscreen "></div>
        </div>
        <h3>{{{i18n 'landing_advertisers_multiscreen'}}}</h3>
        <p class="desc">{{{i18n 'landing_advertisers_multiscreen_desc'}}}</p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center win-prize">
        <div class="icon last">
          <div class="center-block main-sprite main-advertisers-global "></div>
        </div>
        <h3>{{{i18n 'landing_advertisers_audience'}}}</h3>
        <p class="desc">{{{i18n 'landing_advertisers_audience_desc'}}}</p>
      </div>
    </div>

    <p class="text-center">
      <a href="" class="btn btn-primary btn-lg">
        {{i18n 'contact_us'}}
      </a>
    </p>

  </div>
</section>

{{!-- section: press --}}
{{!-- <section class="landing-section landing-press">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-md-3">
        <h2 class="title mtn mbn prxl dispib text-left">{{i18n 'landing_press_title'}}</h2>
      </div>
      <div class="col-xs-9">
        <ul class="list-inline text-center">
          <li class="press-item"><span class="text-hide"></span></li>
          <li class="press-item"><span class="text-hide"></span></li>
          <li class="press-item"><span class="text-hide"></span></li>
          <li class="press-item"><span class="text-hide"></span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
 --}}
