<form role="form" action="{{route 'auth.callback'}}" method="post" class='auth-signin-form'>
  <input type="text" name="identifier" placeholder="{{i18n 'auth_field_username_or_email'}}">
  <input type="password" name="password" placeholder="{{i18n 'auth_field_password'}}">
  <button type="submit">{{i18n 'auth_signin'}}</button>
</form>

{{#each providers}}
  <a href="/auth/{{slug}}" role="button">{{name}}</a>
{{/each}}
