<form role="form form-horizontal" action="{{route 'auth.callback' lang=locale}}" method="post" class='auth-login-form panel panel-default'>

{{!--   <div class="panel-heading">
    <h1 class="panel-title">{{i18n 'ui_signin'}}</h1>
  </div> --}}

  <div class="panel-body">

  {{#if alert}}
    <div class="alerts">
      <div class="alert alert-info mbn" role="alert">
        {{#mergeContexts parent=..}}
          {{{i18n alert}}}
        {{/mergeContexts}}
      </div>
    </div>
  {{/if}}

    <div class="auth-social clearfix">
      {{> 'auth_providers'}}
    </div>

    <div class="form-group has-feedback">
      <label class="control-label" for="username">{{i18n 'auth_field_username_or_email'}}</label>
      <input type="text" class="form-control identifier" name="identifier" placeholder="{{i18n 'auth_field_username_or_email'}}" value="{{form.identifier}}">
      <span class="help-block"></span>
    </div>
    <div class="form-group has-feedback">
      <label class="control-label" for="username">{{i18n 'auth_field_password'}}</label>
      <input type="password" class="form-control password" name="password" placeholder="{{i18n 'auth_field_password'}}" value="{{form.password}}">
      <span class="help-block"></span>
    </div>
    <div class="checkbox">
{{!--       <label>
        <input type="checkbox"> {{{i18n 'auth_signin_rememberme'}}}
      </label> --}}
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-lead btn-lg btn-block">{{i18n 'ui_signin'}}</button>
    </div>

    <p class="mts mbn tac">{{i18n 'auth_not_member'}} <a href="{{route 'auth.register' lang=locale}}">{{i18n 'auth_register'}}</a></p>

  </div>

</form>
