<form role="form" action="{{route 'auth.callback' lang=locale}}" method="post" class='auth-signin-form panel panel-default'>

{{!--   <div class="panel-heading">
    <h1 class="panel-title">{{i18n 'ui_signin'}}</h1>
  </div> --}}

  <div class="panel-body">

    <div class="auth-social clearfix">
      {{> 'auth_providers'}}
    </div>

    <div class="form-group">
      <input type="text" class="form-control identifier" name="identifier" placeholder="{{i18n 'auth_field_username_or_email'}}">
    </div>
    <div class="form-group">
      <input type="password" class="form-control password" name="password" placeholder="{{i18n 'auth_field_password'}}">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> {{{i18n 'auth_signin_rememberme'}}}
      </label>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-lead btn-lg btn-block">{{i18n 'ui_signin'}}</button>
    </div>

    <p class="mts tac">Not a member? <a href="{{route 'auth.register' lang=locale}}">Join now</a></p>

  </div>

</form>
