<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      {{#if user.username}}
        {{user.username}}
      {{else}}
       {{user.firstname}} {{user.lastname}}
      {{/if}}
      <b class="caret"></b>
    </a>
{{!--     <ul class="dropdown-menu" role="menu">
      <li class="divider"></li>
      <li>
        <a href="{{route 'user.profile' lang=locale user.uid}}">
        {{{i18n 'profile'}}}
        </a>
      </li>
      <li>
        <a href="{{route 'user.tickets' lang=locale user.uid}}">
        tickets
        </a>
      </li>
    </ul> --}}
  </li>
  <li>
    <a href="{{route 'auth.logout' lang=locale}}"
    class="glyphicon glyphicon-log-out"
    data-toggle="tooltip"
    data-placement="top"
    title="{{i18n 'ui_logout'}}">
    </a>
  </li>
</ul>
<div class="navbar-right">
  <a href="{{route 'game.index' lang=locale}}" class="btn btn-lead">
    {{{i18n 'play'}}}
  </a>
</div>
