<nav class='header-nav'>
  <ul>
    <li class='game'>
      <a href="{{route 'game.index' lang=locale}}">
        {{i18n 'header_nav_game'}}
      </a>
    </li>
    <li class='results'>
      <a href="{{route 'game.results' lang=locale}}">
        {{i18n 'header_nav_results'}}
      </a>
    </li>
    <li class='charity'>
      <a href="{{route 'game.charity' lang=locale}}">
        {{i18n 'header_nav_charity'}}
      </a>
    </li>
  </ul>
</nav>
