{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'advertisers_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'advertisers_meta_desc'}}">
{{/push}}

<div class="page-header">
  <h1>{{i18n 'advertisers_title'}}</h1>
</div>

<p class="lead">{{i18n 'advertisers_intro'}}</p>

<p>{{i18n 'advertisers_annotation'}}</p>


<div class="row text-center mtxl">
  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h2 class="mtn">{{i18n 'advertisers_boost_title'}}</h2>
      <p>{{i18n 'advertisers_boost_desc'}}</p>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h2 class="mtn">{{i18n 'advertisers_multiplatform_title'}}</h2>
      <p>{{i18n 'advertisers_multiplatform_desc'}}</p>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h2 class="mtn">{{i18n 'advertisers_audience_title'}}</h2>
      <p>{{i18n 'advertisers_audience_desc'}}</p>
    </div>
  </div>

</div>

<p class="lead text-center mtxl">
  <a href="mailto:contact@adillions.com" class="btn btn-lead btn-lg">{{i18n 'contact_us'}}</a>
</p>
