{{#push "title"}}
    <title>{{i18n 'faq_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'faq_meta_desc'}}">
{{/push}}

<h1>{{i18n 'faq'}}</h1>

<p class="lead">{{i18n 'faq_intro'}}</p>

<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q1'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a1'}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q2'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a2'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q3'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a3'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q4'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a4'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q5'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a5'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q6'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a6'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q7'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a7'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q8'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a9'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q10'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a10'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q11'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a11'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q12'}}</div>
  <div class="panel-body">
    {{i18n 'faq_a12'}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">{{i18n 'faq_q13'}}</div>
  <div class="panel-body">
    <p>{{i18n 'faq_a13'}}</p>
    <ul>
      <li>{{i18n 'faq_a13a'}}</li>
      <li>{{i18n 'faq_a13b'}}</li>
      <li>{{i18n 'faq_a13c'}}</li>
      <li>{{i18n 'faq_a13d'}}</li>
    </ul>
  </div>
</div>
