{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'about_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'about_meta_desc'}}">
{{/push}}

<h1>{{i18n 'about'}}</h1>

<section class="section">
  <h2>{{i18n 'about_WhatIs'}}</h2>

  <p class="lead">{{i18n 'about_AdillionsDesc'}}</p>

  <p>{{i18n 'about_AdillionsWords'}}</p>
  <dl>
    <dt>{{i18n 'about_Easy_title'}}</dt>
    <dd>{{i18n 'about_Easy_text'}}</dd>
    <dt>{{i18n 'about_Fun_title'}}</dt>
    <dd>{{i18n 'about_Fun_text'}}</dd>
    <dt>{{i18n 'about_Viral_title'}}</dt>
    <dd>{{i18n 'about_Viral_text'}}</dd>
    <dt>{{i18n 'about_Global_title'}}</dt>
    <dd>{{i18n 'about_Global_text'}}</dd>
    <dt>{{i18n 'about_Responsible_title'}}</dt>
    <dd>{{i18n 'about_Responsible_text'}}</dd>
  </dl>
  <p>
    {{i18n 'about_DrawAmount'}} <a href="{{route 'about.terms' lang=locale}}">{{i18n 'about_consult_terms'}}.</a>
  </p>
  <p>{{i18n 'about_EachPlay'}}</p>

</section>

<section class="section">
  <h2>{{i18n 'about_VisionValues'}}</h2>

  <p class="lead">{{i18n 'brand'}} {{i18n 'about_AdillionsCatch'}}</p>

  <h3>{{i18n 'about_Innovation'}}</h3>
  <p>{{i18n 'about_InnovDisrupt'}}</p>
  <p>{{i18n 'about_InnovOriginal'}}</p>
  <p>{{i18n 'about_InnovSimple'}}</p>

  <h3>{{i18n 'about_Responsibility'}}</h3>
  <p>{{i18n 'about_RespoBefore'}}</p>
  <p>{{i18n 'about_RespoPublic'}}</p>
  <p>{{i18n 'about_RespoProud'}}</p>
  <p>{{i18n 'about_RespoPeport'}}</p>

  <h3>{{i18n 'about_Fairness'}}</h3>
  <p>{{i18n 'about_FairTransparent'}}</p>
  <p>{{i18n 'about_FairRules'}}</p>
  <ul>
    <li>{{i18n 'about_FairRules1'}}</li>
    <li>{{i18n 'about_FairRules2'}}</li>
    <li>{{i18n 'about_FairRules3'}}</li>
    <li>{{i18n 'about_FairRules4'}}</li>
  </ul>

  <p>{{i18n 'about_ConclTime'}}</p>

</section>


<section class="section">
  <h2>{{i18n 'about_Team'}}</h2>

  <p class="lead">{{i18n 'about_TeamIntro'}}</p>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/team/Timothee_de-COURLON.jpg" alt="{{i18n 'about_CEOName'}}" class="img-rounded">
        <div class="caption">
          <h3>
            {{i18n 'about_cofounder'}}<br />
            <small>{{i18n 'about_ceo'}}</small>
          </h3>
          <p>{{i18n 'about_ceo_name'}}</p>
          <p></p>
          <p>{{i18n 'about_ceo_desc'}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/team/Christophe_DUGNE-ESQUEVIN.jpg" alt="{{i18n 'about_cto_name'}}" class="img-rounded">
        <div class="caption">
          <h3>
            {{i18n 'about_cofounder'}}<br />
            <small>{{i18n 'about_cto'}}</small>
          </h3>
          <p>{{i18n 'about_cto_name'}}</p>
          <p></p>
          <p>{{i18n 'about_cto_desc_1'}} <a href="http://www.maperial.com" target="_blank">Maperial</a>{{i18n 'about_cto_desc_2'}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/team/Antoine_DUVILLIER.jpg" alt="{{i18n 'about_fel_name'}}" class="img-rounded">
        <div class="caption">
          <h3>
            {{i18n 'about_cofounder'}}<br />
            <small>{{i18n 'about_fel'}}</small>
          </h3>
          <p>{{i18n 'about_fel_name'}}</p>
          <p></p>
          <p>{{{i18n 'about_fel_desc'}}}</p>
        </div>
      </div>
    </div>


  </div>

</section>


