{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'about_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'about_meta_desc'}}">
{{/push}}

  <p class="lead">{{i18n 'about_AdillionsDesc'}}</p>

<section class="about-section overview-section icons-section">
  <h2>{{i18n 'about_WhatIs'}}</h2>

  <div class="row text-center mtxl">

    <div class="col-xs-12 col-sm-2 col-xs-12 ">
      <div class="icon glyphicon glyphicon-ok-2">
      </div>
      <h3>{{i18n 'about_Easy_title'}}</h3>
      <p class="desc">{{i18n 'about_Easy_text'}}</p>
    </div>

    <div class="col-xs-12 col-sm-2">
      <div class="icon glyphicon glyphicon-thumbs-up">
      </div>
      <h3>{{i18n 'about_Fun_title'}}</h3>
      <p class="desc">{{i18n 'about_Fun_text'}}</p>
    </div>

    <div class="col-xs-12 col-sm-2">
      <div class="icon glyphicon glyphicon-share-alt">
      </div>
      <h3>{{i18n 'about_Viral_title'}}</h3>
      <p class="desc">{{i18n 'about_Viral_text'}}</p>
    </div>

    <div class="col-xs-12 col-sm-2">
      <div class="icon glyphicon glyphicon-globe">
      </div>
      <h3>{{i18n 'about_Global_title'}}</h3>
      <p class="desc">{{i18n 'about_Global_text'}}</p>
    </div>

    <div class="col-xs-12 col-sm-2">
      <div class="icon glyphicon glyphicon-heart">
      </div>
      <h3>{{i18n 'about_Responsible_title'}}</h3>
      <p class="desc">{{i18n 'about_Responsible_text'}}</p>
    </div>

  </div>

  <p>
    {{i18n 'about_DrawAmount'}} <a href="{{route 'about.terms' lang=locale}}"> {{i18n 'about_consult_terms'}}.</a>
  </p>
  <blockquote class="mtxl mbxl"><p>{{i18n 'about_EachPlay'}}</p></blockquote>

</section>

<section class="about-section">
  <h2>{{i18n 'about_VisionValues'}}</h2>

  <h3>{{i18n 'about_Innovation'}}</h3>
  <p>{{i18n 'about_InnovDisrupt'}}</p>
  <p>{{i18n 'about_InnovOriginal'}}</p>
  <p>{{i18n 'about_InnovSimple'}}</p>

  <blockquote class="mtxl mbxl"><p>{{i18n 'about_InnovConclusion'}}</p></blockquote>

  <h3>{{i18n 'about_Responsibility'}}</h3>
  <p>{{i18n 'about_RespoBefore'}}</p>
  <p>{{i18n 'about_RespoPublic'}}</p>
  <p>{{i18n 'about_RespoPeport'}}</p>

  <blockquote class="mtxl mbxl"><p>{{i18n 'about_RespoConclusion'}}</p></blockquote>

  <h3>{{i18n 'about_Fairness'}}</h3>
  <p>{{i18n 'about_FairTransparent'}}</p>
  <p>{{i18n 'about_FairRules'}}</p>
  <ul>
    <li>{{i18n 'about_FairRules1'}}</li>
    <li>{{i18n 'about_FairRules2'}}</li>
    <li>{{i18n 'about_FairRules3'}}</li>
    <li>{{i18n 'about_FairRules4'}}</li>
  </ul>

  <blockquote class="mtxl mbxl"><p>{{i18n 'about_FairConclusion'}}</p></blockquote>

</section>


