{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'jobs_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'jobs_meta_desc'}}">
{{/push}}

<div class="page-header">
  <h1>{{i18n 'jobs'}}</h1>
</div>

<p class="lead">{{i18n 'jobs_intro'}}</p>

<p>{{i18n 'jobs_desc'}} <a href="mailto:jobs@adillions.com">jobs@adillions.com</a>.</p>

