{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'legalnotices_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'legalnotices_meta_desc'}}">
{{/push}}

<section>

  <article>
    <h2>{{i18n 'legalnotices_site_editor'}}</h2>
    <p>{{i18n 'legalnotices_site_editor_desc'}}</p>
  </article>

  <article>
    <h2>{{i18n 'legalnotices_publisher_director'}}</h2>
    <p>{{i18n 'legalnotices_publisher_director_desc'}}</p>
  </article>

  <article>
    <h2>{{i18n 'legalnotices_host'}}</h2>
    <p>{{i18n 'legalnotices_host_desc'}}</p>
  </article>

  <article>
    <h2>{{i18n 'legalnotices_tva'}}</h2>
    <p>{{i18n 'legalnotices_tva_desc'}}</p>
  </article>

  <article>
    <h2>{{{i18n 'legalnotices_cnil'}}}</h2>
    <p>{{i18n 'legalnotices_cnil_desc'}}</p>
  </article>

  <article>
    <h2>{{i18n 'legalnotices_contact'}}</h2>
    <p>{{{i18n 'legalnotices_contact_desc'}}}</p>
  </article>

  <article>
    <h2>{{i18n 'legalnotices_property'}}</h2>
    <p>{{{i18n 'legalnotices_property_desc'}}}</p>
    <p>{{{i18n 'legalnotices_property_desc2'}}}</p>
  </article>

</section>
