{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'press_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'press_meta_desc'}}">
{{/push}}

<p class="lead">{{i18n 'press_intro'}}</p>

<section class="section">
  <h2>{{i18n 'press_kit'}}</h2>
  <h2>{{i18n 'press_releases'}}</h2>
  <h2>{{i18n 'press_contactUs'}}</h2>
  <p>{{i18n 'press_contactAddress'}} <a href="mailto:press@adillions.com">press@adillions.com</a></p>
</section>
