{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'prizes_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'prizes_meta_desc'}}">
{{/push}}

<div class="page-header">
  <h1>{{i18n 'prizes'}}</h1>
</div>

<p class="lead">
  {{i18n 'prizes_intro'}}
</p>

