{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'prizes_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'prizes_meta_desc'}}">
{{/push}}

<p class="lead">
  {{i18n 'prizes_intro'}}
</p>


<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="rank"><span class="glyphicon glyphicon-cup"></span> <span class="text">{{i18n 'prizes_rank'}}</span> </th>
        <th class="match"><span class="glyphicon glyphicon-check"></span> <span class="text">{{i18n 'prizes_match'}}</span> </th>
        <th class="prize"><span class="glyphicon glyphicon-money"></span> <span class="text">{{i18n 'prizes_breakdown'}}</span> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="rank"><span>1</span></td>
        <td class="match"><span>5n° + LB</span></td>
        <td class="prize"><span>40%</span></td>
      </tr>
      <tr>
        <td class="rank"><span>2</span></td>
        <td class="match"><span>5n°</span></td>
        <td class="prize"><span>20%</span></td>
      </tr>
      <tr>
        <td class="rank"><span>3</span></td>
        <td class="match"><span>4n° + LB</span></td>
        <td class="prize"><span>15%</span></td>
      </tr>
      <tr>
        <td class="rank"><span>4</span></td>
        <td class="match"><span>4n°</span></td>
        <td class="prize"><span>10%</span></td>
      </tr>
      <tr>
        <td class="rank"><span>5</span></td>
        <td class="match"><span>3n° + LB</span></td>
        <td class="prize"><span>5%</span></td>
      </tr>
      <tr>
        <td class="rank"><span>6</span></td>
        <td class="match"><span>3n°</span></td>
        <td class="prize"><span>10%</span></td>
      </tr>
    </tbody>
  </table>
</div>
