{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'reward_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'reward_meta_desc'}}">
{{/push}}

<p class="lead">
  {{i18n 'reward_intro'}}
</p>

<section>
  <h2>
    {{i18n 'reward_ticket_bonus'}}
  </h2>

  <p>{{i18n 'reward_ticket_bonus_desc'}}</p>
</section>

<section>
  <h2>
    {{i18n 'reward_ticket_instant'}}
  </h2>

  <p>{{i18n 'reward_ticket_instant_desc'}}</p>
</section>
