{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'keyrules_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'keyrules_meta_desc'}}">
{{/push}}

<p class="lead">
  {{i18n 'keyrules_intro'}}.
  {{i18n 'keyrules_intro-2'}},
  <a href="{{#if isMobile}}{{route 'about.terms' lang=locale mobile='m'}}{{else}}{{route 'about.terms' lang=locale}}{{/if}}">
    {{i18n 'keyrules_intro-1'}}
  </a>.
</p>

<ul class="list-group">
  <li class="list-group-item">{{i18n 'keyrules_1'}}</li>
  <li class="list-group-item">{{i18n 'keyrules_2'}}</li>
  <li class="list-group-item">{{i18n 'keyrules_3'}}</li>
  <li class="list-group-item">
    {{i18n 'keyrules_5-1'}}
    (cf. <a href="{{#if isMobile}}{{route 'about.reward' lang=locale mobile='m'}}{{else}}{{route 'about.reward' lang=locale}}{{/if}}">
      {{i18n 'keyrules_5-2'}}
    </a>)
  </li>
  <li class="list-group-item">{{i18n 'keyrules_6'}}</li>
  <li class="list-group-item">{{i18n 'keyrules_7'}}</li>
  <li class="list-group-item">
    {{i18n 'keyrules_8-1'}}
    (cf. <a href="{{#if isMobile}}{{route 'about.prizes' lang=locale mobile='m'}}{{else}}{{route 'about.prizes' lang=locale}}{{/if}}">{{i18n 'keyrules_8-2'}}</a>)
  </li>
  <li class="list-group-item">{{i18n 'keyrules_9'}}</li>
  <li class="list-group-item">{{i18n 'keyrules_10'}}</li>
  <li class="list-group-item">{{i18n 'keyrules_11'}}</li>
  <li class="list-group-item">{{i18n 'keyrules_12'}}</li>
  <li class="list-group-item">{{i18n 'keyrules_13'}}</li>
  <li class="list-group-item">{{i18n 'keyrules_14'}}</li>
</ul>
