{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'team_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'team_meta_desc'}}">
{{/push}}

<div class="page-header">
  <h1>{{i18n 'team'}}</h1>
</div>

<p class="lead">{{i18n 'team_intro'}}</p>

<div class="row">
  <div class="media">
    <div class="col-xs-12 col-md-3">
      <img src="/images/team/Timothee_de-COURLON.jpg" alt="{{i18n 'team_CEOName'}}" class="img-circle well mbs" width="200" height="200">
    </div>
    <div class="media-body col-xs-12 col-md-9">
      <h2>{{i18n 'team_ceo_name'}}</h2>
      <ul class="list-inline">
        <li>
          <a href="{{extUrl 'ceo_twitter'}}" class="social social-twitter" data-toggle="tooltip" data-placement="top" data-original-title="Twitter">
            <span class="hidden">Twitter</span>
          </a>
        </li>
        <li>
          <a href="{{extUrl 'ceo_linkedin'}}" class="social social-linked_in" data-toggle="tooltip" data-placement="top" data-original-title="LinkedIn">
            <span class="hidden">LinkedIn</span>
          </a>
        </li>
      </ul>
      <h3>
        {{i18n 'team_cofounder'}}
        <small>{{i18n 'team_ceo'}}</small>
      </h3>
      <p>{{i18n 'team_ceo_desc'}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="media">
    <div class="col-xs-12 col-md-3">
      <img src="/images/team/Christophe_DUGNE-ESQUEVIN.jpg" alt="{{i18n 'team_cto_name'}}" class="img-circle well mbs" width="200" height="200">
    </div>
    <div class="media-body col-xs-12 col-md-9">
      <h2>{{i18n 'team_cto_name'}}</h2>
      <ul class="list-inline">
        <li>
          <a href="{{extUrl 'cto_twitter'}}" class="social social-twitter" data-toggle="tooltip" data-placement="top" data-original-title="Twitter">
            <span class="hidden">Twitter</span>
          </a>
        </li>
        <li>
          <a href="{{extUrl 'cto_github'}}" class="social social-github" data-toggle="tooltip" data-placement="top" data-original-title="Github">
            <span class="hidden">Github</span>
          </a>
        </li>
        <li><a href="{{extUrl 'cto_linkedin'}}" class="social social-linked_in" data-toggle="tooltip" data-placement="top" data-original-title="LinkedIn">
          <span class="hidden">LinkedIn</span></a>
        </li>
      </ul>
      <h3>
        {{i18n 'team_cofounder'}}
        <small>{{i18n 'team_cto'}}</small>
      </h3>
      <p>{{i18n 'team_cto_desc_1'}} <a href="http://www.maperial.com" target="_blank">Maperial</a>{{i18n 'team_cto_desc_2'}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="media">
    <div class="col-xs-12 col-md-3">
      <img src="/images/team/Antoine_DUVILLIER.jpg" alt="{{i18n 'team_fel_name'}}" class="img-circle well mbs" width="200" height="200">
    </div>
    <div class="media-body col-xs-12 col-md-9">
      <h2>{{i18n 'team_fel_name'}}</h2>
      <ul class="list-inline">
        <li>
          <a href="{{extUrl 'fel_twitter'}}" class="social social-twitter" data-toggle="tooltip" data-placement="top" data-original-title="Twitter">
            <span class="hidden">Twitter</span>
          </a>
        </li>
        <li>
          <a href="{{extUrl 'fel_googlePlus'}}" class="social social-google_plus" data-toggle="tooltip" data-placement="top" data-original-title="Google plus">
            <span class="hidden">Google plus</span>
          </a>
        </li>
        <li>
          <a href="{{extUrl 'fel_github'}}" class="social social-github" data-toggle="tooltip" data-placement="top" data-original-title="Github">
            <span class="hidden">Github</span>
          </a>
        </li>
        <li>
          <a href="{{extUrl 'fel_linkedin'}}" class="social social-linked_in" data-toggle="tooltip" data-placement="top" data-original-title="LinkedIn">
            <span class="hidden">LinkedIn</span>
          </a>
        </li>
      </ul>
      <h3>
        {{i18n 'team_cofounder'}}
        <small>{{i18n 'team_fel'}}</small>
      </h3>
      <p>{{{i18n 'team_fel_desc'}}}</p>
    </div>
  </div>
</div>
