
<h1>{{i18n 'about_Team'}}</h1>

<p class="lead">{{i18n 'about_TeamIntro'}}</p>

<div class="media row">
  <div class="col-xs-12 col-md-3 text-center">
    <img src="/images/team/Timothee_de-COURLON.jpg" alt="{{i18n 'about_CEOName'}}" class="img-circle mbs" width="200" height="200">
    <ul class="list-inline social">
      <li><a href="{{extUrl 'ceo_twitter'}}" class="twitter social social-twitter">Twitter</a></li>
      <li><a href="{{extUrl 'ceo_googlePlus'}}" class="googlePlus">Google plus</a></li>
    </ul>
  </div>
  <div class="media-body col-xs-12 col-md-9">
    <h2>{{i18n 'about_ceo_name'}}</h2>
    <h3>
      {{i18n 'about_cofounder'}}
      <small>{{i18n 'about_ceo'}}</small>
    </h3>
    <p></p>
    <p>{{i18n 'about_ceo_desc'}}</p>
  </div>
</div>

<div class="media row">
  <div class="col-xs-12 col-md-3 text-center">
    <img src="/images/team/Christophe_DUGNE-ESQUEVIN.jpg" alt="{{i18n 'about_cto_name'}}" class="img-circle mbs" width="200" height="200">
    <ul class="list-inline social">
      <li><a href="{{extUrl 'cto_twitter'}}" class="twitter social social-twitter">Twitter</a></li>
      <li><a href="{{extUrl 'cto_googlePlus'}}" class="googlePlus">Google plus</a></li>
      <li><a href="{{extUrl 'cto_github'}}" class="github">Github</a></li>
    </ul>
  </div>
  <div class="media-body col-xs-12 col-md-9">
    <h2>{{i18n 'about_cto_name'}}</h2>
    <h3>
      {{i18n 'about_cofounder'}}
      <small>{{i18n 'about_cto'}}</small>
    </h3>
    <p></p>
    <p>{{i18n 'about_cto_desc_1'}} <a href="http://www.maperial.com" target="_blank">Maperial</a>{{i18n 'about_cto_desc_2'}}</p>
  </div>
</div>

<div class="media row">
  <div class="col-xs-12 col-md-3 text-center">
    <img src="/images/team/Antoine_DUVILLIER.jpg" alt="{{i18n 'about_fel_name'}}" class="img-circle mbs" width="200" height="200">
    <ul class="list-inline social">
      <li><a href="{{extUrl 'fel_twitter'}}" class="twitter social social-twitter">Twitter</a></li>
      <li><a href="{{extUrl 'fel_googlePlus'}}" class="googlePlus">Google plus</a></li>
      <li><a href="{{extUrl 'fel_github'}}" class="github">Github</a></li>
    </ul>
  </div>
  <div class="media-body col-xs-12 col-md-9">
    <h2>{{i18n 'about_fel_name'}}</h2>
    <h3>
      {{i18n 'about_cofounder'}}
      <small>{{i18n 'about_fel'}}</small>
    </h3>
    <p></p>
    <p>{{{i18n 'about_fel_desc'}}}</p>
  </div>
</div>
