{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'terms_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'terms_meta_desc'}}">
{{/push}}

<div class="page-header">
  <h1>{{i18n 'terms'}}
  <small>{{i18n 'terms_createdAt'}}</small>
  </h1>
</div>

<p class="lead">
  {{i18n 'terms_intro-1'}}<br />
  {{i18n 'terms_intro-2'}}
</p>

<p>{{i18n 'terms_intro-3'}}</p>

{{#each articles}}
  {{set name='articlekey' value=@key}}
  <h2><small>{{@key}}</small> {{name}}</h2>

  {{#each articles}}
    {{set name='sectionkey' value=@key}}
    {{#if articles}}
      {{#if name}}
        <h3>
          <small>{{../../../articlekey}}.{{@key}}</small>
          {{name}}
        </h3>
      {{/if}}
      <ul class="list-unstyled">
        {{#each articles}}
          <li><small class="text-muted">{{../../../articlekey}}.{{../sectionkey}}.{{@key}}</small> {{name}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>
        <small class="text-muted">{{../../articlekey}}.{{@key}}</small>
        {{name}}
      </p>
    {{/if}}

  {{/each}}

{{/each}}
