{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'terms_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'terms_meta_desc'}}">
{{/push}}

<div class="page-header">
  <h1>{{i18n 'terms'}}
  <small>{{i18n 'terms_createdAt'}}</small>
  </h1>
</div>

<p class="lead">
  {{i18n 'terms_intro-1'}}<br />
  {{i18n 'terms_intro-2'}}
</p>

<p>{{i18n 'terms_intro-3'}}</p>

{{#each articles}}
  {{set name='articlekey' value=@key}}
  <h2>{{@key}} {{name}}</h2>

  {{#each articles}}
    {{set name='sectionkey' value=@key}}
    {{#if articles}}
      {{#if name}}
        <h3>
          <strong>{{../../../articlekey}}.{{@key}}</strong>
          {{name}}
        </h3>
      {{/if}}
      <ul class="list-unstyled">
        {{#each articles}}
          <li><strong>{{../../../articlekey}}.{{../sectionkey}}.{{@key}}</strong> {{name}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>
        <strong>{{../../articlekey}}.{{@key}}</strong>
        {{name}}
      </p>
    {{/if}}

  {{/each}}

{{/each}}
