{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'winwinwin_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'winwinwin_meta_desc'}}">
{{/push}}

<p class="lead">{{i18n 'winwinwin_intro'}}</p>

<section class="winwinwin-section">
  <h2 class="text-center">{{i18n 'winwinwin_advertisers_title'}}</h2>
  <div class="row text-center mtxl">
    <div class="col-xs-12 col-sm-6">
      <div class="icon glyphicon glyphicon-airplane">
      </div>
      <h3>{{i18n 'winwinwin_advertisers_communication'}}</h3>
      <p class="desc col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">{{i18n 'winwinwin_advertisers_desc1'}}</p>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="icon glyphicon glyphicon-globe">
      </div>
      <h3>{{i18n 'winwinwin_advertisers_global'}}</h3>
      <p class="desc col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">{{i18n 'winwinwin_advertisers_desc2'}}</p>
    </div>
  </div>
</section>

<section class="winwinwin-section">
  <h2 class="text-center">{{i18n 'winwinwin_players_title'}}</h2>
  <div class="row text-center mtxl">
    <div class="col-xs-12 col-sm-6">
      <div class="icon glyphicon glyphicon-money">
      </div>
      <h3>{{i18n 'winwinwin_players_free'}}</h3>
      <p class="desc col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">{{i18n 'winwinwin_players_desc1'}}</p>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="icon glyphicon glyphicon-heart">
      </div>
      <h3>{{i18n 'winwinwin_players_responsible'}}</h3>
      <p class="desc col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">{{i18n 'winwinwin_players_desc2'}}</p>
    </div>
  </div>
</section>

<section class="winwinwin-section last">
  <h2 class="text-center">{{i18n 'winwinwin_charity_title'}}</h2>
  <div class="row text-center mtxl">
    <div class="col-xs-12 col-sm-6">
      <div class="icon glyphicon glyphicon-star">
      </div>
      <h3>{{i18n 'winwinwin_charity_community'}}</h3>
      <p class="desc col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">{{i18n 'winwinwin_charity_desc1'}}</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="icon glyphicon glyphicon-group">
      </div>
      <h3>{{i18n 'winwinwin_charity_donator'}}</h3>
      <p class="desc col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">{{i18n 'winwinwin_charity_desc2'}}</p>
    </div>
  </div>
</section>


<p class="text-muted text-center">
  <small>{{i18n 'winwinwin_charity_annotation'}}</small>
</p>

<p class="lead text-center mtxl">
  <a href="{{route 'game.index' lang=locale}}" class="btn btn-lead btn-lg">{{i18n 'play_now'}}</a>
</p>
